
@mixin desktop {
    @media only screen and (min-width: 800px) {
        @content;
    }
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}