@import './custom';
@import './mixins.scss';


* {
  box-sizing: border-box;
  font-family: 'Star Jedi', arial;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

;

.header {
  background-image: url(/src/app/assets/StarWarsFilms.jpg);

  height: 400px;

  display: flex;
  justify-content: center;
  flex-direction: column;


  &__h3 {
    color: yellow;
    text-align: center;
  }

  &__imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  &__img {
    width: 250px;
    height: 200px;
  }
}

.container-general {

  background-image: url(/src/app/assets/fondo3.jpg);

  padding: 50px;

  &__buttons {
    display: flex;
    justify-content: space-around;

    padding: 50px;

    &__button {
      background-color: black;
      color: yellow;

      font-weight: bold;
      font-size: 20px;

      width: 150px;
      height: 70px;

      border: 2px solid white;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 70px;

    &__label {
      color: white;
      margin: 20px;
      font-size: 25px;
      font-weight: bold;
    }

    &__button {
      background-color: black;
      color: yellow;

      font-weight: bold;
      font-size: 20px;

      width: 100px;
      height: 50px;

      border: 2px solid white;

      margin-left: 15px;
    }

  }
}

.container-information {
  background-image: url(/src/app/assets/2.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
}

.container-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px, 30px;
  flex-wrap: wrap;

  &__div {
    height: 170px;
    width: 30%;

    border: 3px solid yellow;

    background-image: url(/src/app/assets/fondete.jpg);
    background-position: center;
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    &-2 {
      background-image: url(/src/app/assets/Coruscant.png);
      color: yellow;
    }

    &-3 {
      height: auto;
      width: 40%;
      border: 3px solid yellow;
      background-image: url(/src/app/assets/fondete.jpg);
      background-position: center;
      background-size: cover;
      color: yellow;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;

      img {
        max-height: 400px;
        max-width: 100%;
      }
    }

    & p:first-child {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.container-general-delete {

  display: flex;
  justify-content: center;
  background-color: black;

  &__button {
    background-color: black;
    color: yellow;

    font-weight: bold;
    font-size: 20px;

    width: 100px;
    height: 50px;

    border: 2px solid white;

    margin-top: 40px;
  }
}


#buttonBtn {
  color: white;
}

#buttonBtn {

  background-color: black;
  color: yellow;

  font-weight: bold;
  font-size: 20px;

  width: 100px;
  height: 50px;

  border: 2px solid white;

  margin-top: 40px;
  margin-left: 100px;
  margin-bottom: 20px;

}

.last-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.films {
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(/src/app/assets/fondo4.jpg);
  background-size: cover;
  background-position: center;

  color: yellow;

  padding: 50px;
  margin-top: 50px;

  &__titles {
    display: flex;
    width: 100%;
    ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: yellow;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(12px);
  }

  &__button {
    background-color: black;
    color: yellow;

    font-weight: bold;
    font-size: 20px;

    width: 100px;
    height: 90px;

    border: 2px solid white;

    margin-top: 50px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__div {
    height: 500px;
    width: 40%;

    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

    border: 3px solid yellow;
    padding: 25px;

    background-image: url(/src/app/assets/fondoDivs.jpg);
    background-position: center;
    background-size: cover;
    color: yellow;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;


  }

  img {
    width: 80%;
    height: 50%;
  }
}

.films-surprise {
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: black;
  background-size: cover;
  background-position: center;

  color: yellow;

  padding: 50px;
}

.hide {
  display: none;
}


.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: yellow;

  padding: 100px;


  &__div {
    padding: 50px;

    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid yellow;

    background-image: url(/src/app/assets/fondoVideos.png);
    background-size: cover;
    background-position: center;

    iframe {
      margin-top: 20px;
    }
  }
}

.enlace {
  font-weight: normal;
  color: rgb(170, 170, 132);
}

//Spinner

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;

  margin-left: 50%;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}